{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
{% if event_detail %}
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'cover_img.jpg' %}">
        <span class="card-title">{{ event_detail.name }}</span>
      </div>
      <div class="card-content">
        <p>{{ event_detail.description }}</p>
      </div>
      <div class="card-action">
        <a href="#">Join this event!</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m6">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Event Assistants</h4></li>
      <li class="collection-item avatar">
        <img src="{% static 'profile_pic.png' %}" alt="" class="circle">
          <span class="title">Event Host</span>
          <p>First Line <br>
             Second Line
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      {% for member in event_detail.participants_list %}
        <li class="collection-item avatar">
          <img src="{% static 'profile_pic.png' %}" alt="" class="circle">
          <span class="title">Member</span>
          <p>First Line <br>
              Second Line
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact {{guild_detail.name}}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Copyright Board Gamer's Network
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>


{% else %}
  No guild....
{% endif %}

{% endblock %}