<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
    <!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"  media="screen,projection"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <!--Import materialize.js-->
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  </head>

  <body class="body" >

    
  

    <div class="row">
      <!-- Side navigation panel -->
      <div class="col s2">
        {% block side_nav %}{% include "side_navigation.html" %}{% endblock %}
      </div>

      <!-- All changing page content  -->
      <div id="content" class="col s9 offset-s2">
        {% block content %}{% endblock %}
        <div class="row">
          {% block footer %}{% include "footer.html" %}{% endblock %}
        </div>
      </div>

    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">

  </body>
</html>