{% extends "layout.html" %}

{% block content %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="login_form">
    {% csrf_token %}

    <h3 class="title">Login</h3>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="row">
        <input style="display:none">
        <input type="password" style="display:none">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="id_username" maxlength="254" name="username" type="text">
                <label for="id_username" class="active">Username:</label>                  
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <label for="id_password" class="active">Password:</label>
                <input id="id_password" name="password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center-align">
                <input type="submit" class="waves-effect waves-light btn" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>
</form>

{% endblock %}