html {
  font-weight: 200;
}
a {
  color: white;
}
body {
  background-color: #757171;
}
h5 {
  color:white;
  font-weight: 200;
  padding-left: 10px;
}
.icon_hover i.hover_hide {
  visibility:hidden;
}
.icon_hover:hover i.hover_hide {
  visibility:visible;
}
.side-nav.fixed a {
  color: white;
}
#slide-out {
  top:64px;
  width: 208px;
  background-color: #524E4E;
}
#slide-out li:hover {
  background: #757575;
}
#slide-out li:first-child:hover {
  background: #524E4E;
}
.section a:hover {
  background: #757575;
}
.card .card-image {
  /*Ninh: temporary set height of card-image. remove this after applying masonry effect*/
  /*height: 225px;
  overflow: hidden;*/
}
form * {
  color: #fff;
  font-weight: normal;
}
form h1,
form h2,
form h3,
form h4,
form h5 {
  font-weight: 100;
}
.picker__header * {
  color: #000;
}
ul.errorlist {
  position: absolute;
  bottom: -25px;
  left: 10px;
}
ul.errorlist li {
  color: #ef9a9a;
}
.side-nav div.auth {
  text-align: center;
}
.side-nav div.auth a {
  height: 24px;
  line-height: 24px;  
}
.side-nav div.auth a:hover {
  text-decoration: underline;
}