html {
  font-weight: 200;
}
a {
  color: white;
}
body {
  background-color: #757171;
}
h5 {
  color:white;
  font-weight: 200;
  padding-left: 10px;
}
.icon_hover i.hover_hide {
  visibility:hidden;
}
.icon_hover:hover i.hover_hide {
  visibility:visible;
}
.side-nav.fixed a {
  color: white;
}
#slide-out {
  top:64px;
  width: 208px;
  background-color: #524E4E;
}
#slide-out li:hover {
  background: #757575;
}
#slide-out li:first-child:hover {
  background: #524E4E;
}
.section a:hover {
  background: #757575;
}
.card .card-image {
  /*Ninh: temporary set height of card-image. remove this after applying masonry effect*/
  /*height: 225px;
  overflow: hidden;*/
}
.game-item {
  /*display: none;*/
}