{% extends "layout.html" %}

{% block content %}

<div id="user_matches_list">
    <h2>My matches</h2>
    <!-- TODO: retrieve list of friends -->
    {% if user_matches_list|length < 1 %}
        <p> Sorry, you have no friends yet! <p>

    {% else %}
       {% for m in user_matches_list %}
            <p>{{ m.name }}</p>
            <p>{{ m.location }}</p>

            <button ng-click="">Add</button>
            <button ng-click="">X</button>
        {%  endfor %}
    {% endif %}
</div>

{% endblock %}